@keyframes example {
    from {transform: translateX(-10%);}
    to {transform: translateX(10%);}
}

@-webkit-keyframes example {
    from {transform: translateX(-10%);}
    to {transform: translateX(10%);}
}

.title {
    text-align: center;
    -webkit-animation: example 5s infinite;
    animation: example 5s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.somethin {
    color: ghostwhite
    /* background-color: rgba(180, 196, 38, 0.651);
    background-size: cover;
    background-blend-mode: darken;
        border-radius: 5px; */

   
}
.somefat {
    background-color: rgba(14, 132, 201, 0.671);
    background-size: cover;
    background-blend-mode: darken;
    color:yellow;
    border-radius: 5px;

}
.everything {
    background-image: url("https://www.kearnypearsonford.com/images/research/city-driving-tips.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.514);
    background-size: cover;
    background-blend-mode: darken;

}
